# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Cucumber Step'
      'submenu': [
        { 'label': 'Jump to step', 'command': 'cucumber-step:jump-to-step' }
      ]
    ]
  }
]
