# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [{
    'label': 'Enable cucumber-step', 'command': 'cucumber-step:toggle'
  }]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'cucumber-step'
      'submenu': [
        { 'label': 'Jump to step', 'command': 'cucumber-step:jump-to-step' }
      ]
    ]
  }
]
